.contact {
    background-color: #8B0000;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .contact p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .contact ul {
    list-style: none;
    padding: 0;
  }
  
  .contact ul li {
    margin: 0.5rem 0;
  }
  @media (min-width: 800px){
    contact {
      background-color: #8b0000;
      color: #fff;
      padding: 4rem 2rem;
      text-align: center;
    }
    
    .contact h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
    
    .contact p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }
  .pattern-background {
    background-image: url('../../public/images/pattern-divider.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px; /* Adjust height as needed */
    position: relative;
    top: -35px;
    left: -16px;
    width: 100vw;
    z-index: 1;
  }