@font-face {
  font-family: 'Nizhegorodsky';
  src: url(./fonts/ST-Nizhegorodsky.ttf) format('truetype');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
